:root{
    --background-color-1:#153677;
    --background-color-2:#4e085f;
    --background-color-3:#fff;
    --heading-color:#002765;
    --row-background:#edeef0;
    --button-background:#ff5945;
    --button-text-color:#fff;
    --checked-color:#555;
    --span-background-hover:#edeef0;
}